.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.header-link{
  margin-left: 30%;
}
.header-link a{
  padding: 20px;
}
.logo-ecom{
  width:15rem;
  margin:30px;
}
.mobile-link{
  padding: 20px;
 display: none;
}
.mobile-icon{
  
}
@media (max-width:798px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .header-link a{
    display: none;
  }
  .mobile-link{
  display: inline-block;
  z-index: 9999;
 }
 .mobile-icon{
  display: inline-block;
  font-size: 2rem;
 }
.active .mobile-icon{
  display: none;
  position: absolute;
  font-size: 4.2rem;
  top:30%;
  right: 10%;
  z-index: 9999;

}
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
